body {
    background-color: rgb(41, 39, 39);
}

h1 {
    color: blue;
}

h3 {
    color: white;
}
.character {
    float: left;
    width: 150px;
    height: 170px;
    margin: 3px;

    text-align: center;

    background-color: white;

    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.enemies {
    background-color: rgb(255, 80, 80);
}
 .oponent {
     background-color: black;
     color: white;
 }
.character img {
    width: 130px;
    margin: 0;
}

.character p {
    margin: 3px;
}

.enemies-section {
    clear: both;
}

.oponent-section {
    clear: both;
}